discord.py
SQLAlchemy
psycopg2
git+https://github.com/Rapptz/discord-ext-menus

# Dev tools
python-dotenv # local env loader
sqlalchemyseed[yaml] # SQLAlchemy seeder
mysqlclient # mysql driver, Note: SQLAlchemy db url prefix=mysql+mysqldb